[submodule "W4/Project"]
	path = W4/Project
	url = git@github.com:ScottRobinsonSky/MV-Week-4-Project.git
[submodule "W5/Repo Tasks"]
	path = W5/Repo Tasks
	url = git@github.com:ScottRobinsonSky/repo-tasks-wk5.git
[submodule "W6/Repo Tasks"]
	path = W6/Repo Tasks
	url = git@github.com:swe-assignments/week-6.git
[submodule "W6/Project"]
	path = W6/Project
	url = git@github.com:ScottRobinsonSky/week-6-project.git
